body {
    background-color: rgb(0, 205, 251);
}

/* FLEBOX */
/* justify-content */
/* Controla como os itens são alinhados horizontalmente dentro do conteiner flex, quando a direção principal é horizontal (padrão: now)*/
/* 
Flex-start: alinhar os intens à esquerda
center: Centraliza os itens horizontalmente
flex-end: açinhar os itens à direita
Space-between: Espaço igual entre os itens, o primeiro a esquerda e o ultimo a direita
space-around: Espaço igual ao redor de cada item (meio terno
 entre os itens é maior)
Space-evenly: espaço exatamente igual entre todos os itens (inclusive nas bordas)
*/
/* Align-itens */
/*
flex-starts: alinha os intens no topo 
center: centraliza verticalmente
flex-end: alinha os itens na parte inferior
stretch: estica os itens para ocupar toda a largura
baseline: alinha com base na linha base do texto interno
*/


/* flex direction */
/*
row: alinha os itens de esquerda para direita
row-reverse: da direita para a esquerda
column: de cima para baixo
column-reverse: de baixo para cima
*/
.container {
    display: flex;
    flex-direction: column; /* teste com: row, row-reverse, column e column-reverse */
    justify-content: center; /* teste com: flex-starts, flex-end, space-between, space-around, space-evenly*/
    align-items: center;/* teste com: flex-starts, flex-end */
    background-color: gray;
    width: 500px;
    height: 500px;
}

.box {
    background-color: rgb(255, 234, 0);
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 0, 0);
}