body{
    background-color:#1a312d;
}
#paragrafo1{
    color:rgb(250, 199, 0, 98);
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
p {
  background-color: #253d39f3;
}

.titulo1 {
  color:rgb(242, 183, 5)
}

h1 {
  background-color: #455e5a;
}

footer {
   color:rgb(242, 183, 5)
}
footer {
  background-color: #504a1a;
}

h2 {
  background-color: #49545865;
}

a {
  color: white;
}

ol {
  color: rgb(242, 183, 5);
}