body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(220deg, #00a2ffdb, #0047fa);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    color: white;
}

header {
    margin: 30px;
    text-align: center;
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(250, 249, 249, 0.137);
    color:white
}

header h1 {
    margin: 15px 0 5px; /* cima | esquerda/direita | baixo */
    font-size: 26px;
}

header p {
    margin: 20px;
    font-size: 16px;
}

header img {
    width: 350px;
    height: 200px;
    border: 4px solid #0e490143;
}